<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Named Space Card Game</title>
</head>
<body>
    <header class="indexheader"> 
        <h1>Named Space Card Game</h1>
        <div class="headerlink">
        <a href="/index/new"><button>Card Shop</button></a>
        <a href=""><button>Account</button></a>
        </div>
    </header>
    <div class="container">
        <% cards.forEach((card, index) => { %>
        <div class="card">
                <div class="cardheader">
                    <img class="cardimage" src=<%= card.image %> alt="cardimage">
                    <h4> <%= card.name %> </h4>
                </div>

                <div class="cardbody">
                <p> Attack: <%= card.attack %> </p>
                <p> Defense: <%= card.defense %> </p>
                <p> Type: <%= card.type %> </p>
                </div>

                <div class="cardfooter">
                <a href="/index/<%=card._id%>"><button>Inspect</button></a>
                <a href="/index/<%= card._id %>/edit"><button>Upgrade</button></a>
                </div>
        </div>
        <% }) %>
    </div>
</body>
</html>