<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Named Space Card Game</title>
</head>
<body>
    <header class="indexheader"> 
        <h1>Named Space Card Game</h1>
        <div class="headerlink">
        <a href="/index/new"><button>Card Shop</button></a>
        <a href=""><button>Account</button></a>
        </div>
    </header>
    <div class="container">
        <% cards.forEach((card, index) => { %>
        <div class="card">
            <img class="dummy" src="../../public/blueprint.jpeg" alt="cardimage">
            <button><a href="/index/<%= card._id %>">
                <div class="cardcontainer">
                    <h4> <%= card.name %> </h4>
                    <p> Attack: <%= card.attack %> </p>
                    <p> Defense: <%= card.defense %> </p>
                </div>
            </a></button>
        </div>
        <% }) %>
    </div>
    <div>
        <p id="description">
        </p>
    </div>
</body>
</html>