<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title><%= cards.name %> Info</title>
</head>
<body>
    <header class="indexheader"> 
        <h1> <%= cards.name %> </h1>
        <div class="headerlink">
        <a href="/index/<%= cards._id %>/edit"><button>Upgrade</button></a>    
        <a href="/index/new"><button>Card Shop</button></a>
        <a href=""><button>Account</button></a>
        </div>
    </header>
    <img class="showimg" src="../../public/blueprint.jpeg" alt="cardimage"> 
    <div class="container">
        <div class="card">
                <div class="cardcontainer">
                    <p> Attack: <%= cards.attack %> </p>
                    <p> Defense: <%= cards.defense %> </p>
                    <p> Description: <%= cards.description %> </p>
                </div>
        </div>
    </div>
    <div>
</body>
</html>